.azul-trello{
	background-color: #0079BF;
}
.opacity{
	opacity: 0.5;
    filter: alpha(opacity=50);
}
.black{
	color: black;
}
.white{
	color: white;
}
.bg-gris{
	background-color: gainsboro;
}
.tx-gris{
	color: darkgrey;
}
.gris-trello{
	background-color: #E2E4E6;
}
.tamañotarjetas{
	width: 25%;
}
.inputblock{
	display: block;
}
*{
	display: inline-block;
}