.fondoGris{
	background-color: gainsboro;
}
.mas{
	color: white;
}
.basura{
	color: black;
	float: right;
}
li{
	margin-bottom: 1% !important;
}

@media screen and (min-width: 400px) {
	button{
		border-radius: 5%;
		color: gainsboro;
	}
	
}